<div *ngIf="!isDataRet" class="progress cust_container">
  <div class="indeterminate" style="width: 70%"></div>
</div>
<div *ngIf="isDataRet" class="bottom-offset cust_container row">
  <div class="cAlign">
    <h5>{{pgTitle}}</h5>
  </div>
  <!-- <div class="col s6">
    <a class="underline" (click)="showCompsWithoutQuotes()">View</a> companies yet to respond with quotes.
  </div>
  <div class="col s6 offset-s1 rbtn">
    <span class="tableTitle">List of Quotes Received</span>
  </div>
  <div class="s5 rbtn">
    <button class="btnOffset" pButton type="button" title="Download All Quotes" label="Download All" (click)="dwnldAllQuotes()"></button>
  </div> -->
  <div class="">
    <a class="underline" (click)="showCompsWithoutQuotes()">View</a> companies yet to respond with quotes.
    <span class="offset-s1">List of Quotes Received</span>
    <button class="btnOffset" pButton type="button" title="Download All Quotes" label="Download All" (click)="dwnldAllQuotes()"></button>
  </div>
  <p-table [value]="quotes" [paginator]="true" [rows]="10" [(selection)]="selectedQuotes" [responsive]="true" 
  [rowsPerPageOptions]="[10, 20, 50]" (onRowSelect)="selRow($event)" (onRowUnselect)="unSelRow($event)">
    <ng-template pTemplate="header">
      <tr>
          <th style="width: 3em">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
        <th class="cAlign" style="height: 3em;">Company</th>
        <th class="cAlign">Quote</th>
        <th class="cAlign">Date Received</th>
        <th class="cAlign">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-quote>
      <tr [pSelectableRow]="rowData" style="height: 3em;">
          <td>
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>
        <td class="cAlign">
          <a *ngIf="quote['ch'].link !== null" href="{{quote['ch'].link}}" target="_blank">{{quote['ch'].name}}</a>
          <span *ngIf="quote['ch'].link === null">{{quote['ch'].name}}</span>
        </td>
        <td class="cAlign">
          <a class="underline" href="" title="Download Quote">{{quote['qFile']}}</a>
        </td>
        <td class="cAlign">{{quote['date_received'] | date: 'mediumDate'}}</td>
        <td class="cAlign">
          <a class='dropdown-trigger ui-button ui-corner-all linkBtn' data-target='dropdown1' (click)="trigQuoteOptions(quote)">Options</a>
          <ul id='dropdown1' class='dropdown-content'>
            <li (click)="viewQuote()">
              <a href="abc.pdf" target="_blank">View</a>
            </li>
            <li (click)="dwnldQuote()">
              <a>Download</a>
            </li>
            <li (click)="acceptQuote()">
              <a>Accept</a>
            </li>
          </ul>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-sidebar [(visible)]="isNoQuotesCompsTrig" [baseZIndex]="10000">
    <div>
      <ol>
        <li *ngFor="let comp of noQuoteCompps">{{comp}}</li>
      </ol>
    </div>
  </p-sidebar>
</div>