<div class="nav">
  <div class="col s4">
    <h5>Learn</h5>
    <ul>
      <li *ngFor="let link of links_learn">
        <a class="grey-text text-lighten-3" routerLink="{{link['url']}}">{{link['label']}}</a>
      </li>
    </ul>
  </div>
  <div class="col s4">
    <h5>Company</h5>
    <ul>
      <li *ngFor="let link of links_co">
        <a class="grey-text text-lighten-3" routerLink="{{link['url']}}">{{link['label']}}</a>
      </li>
    </ul>
  </div>
  <div class="col s4">
    <h5>Support</h5>
    <ul>
      <li *ngFor="let link of links_su">
        <a class="grey-text text-lighten-3" routerLink="{{link['url']}}">{{link['label']}}</a>
      </li>
    </ul>
  </div>
</div>