<div *ngIf="!isCustVerified" class="row">
  <p-messages class="col" [(value)]="unverifCustInfo" [closable]="false"></p-messages>
</div>

<div *ngIf="isCustVerified" class="container mt-2">
  <div class="bg-light mb-2">
    <span class="pgTitle">Dashboard</span>
    <span class="ml-4">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      {{date}}
    </span>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card shadow-sm bg-white rounded pointer" title="Go to Quotes Page" routerLink="/quotes">
        <div class="card-header text-center font-weight-bold font-italic">My RFQ's</div>
        <div class="card-body">
          <div *ngIf="isRfqsArrRet">
            <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [options]="doughnutCharOptions" [colors]="colors"
              [chartType]="doughnutChartType">
            </canvas>
          </div>
          <div *ngIf="!isRfqsArrRet">
              <a title="Create New Request for Quotes" label="Create an RFQ" routerLink="/new-rfq">
                Create An RFQ
              </a>
          </div>
        </div>
        <div class="card-footer text-center">
            <div *ngIf="isRfqsArrRet">
                <span>Total: </span>
                <span id="totalCount"></span>
            </div>
            <div *ngIf="!isRfqsArrRet">
                <span>Total: 0</span>
            </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card shadow-sm p-3 bg-white rounded fullHeight">
        <div class="card-body">

        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card shadow-sm p-3 bg-white rounded fullHeight">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 mt-4 mb-4">
      <div *ngIf="isRfqsArrRet" class="card shadow-sm p-3 bg-white rounded">
        <div>
          <p-dropdown class="float-right" [options]="years" placeholder="{{currentYr}}" optionLabel="name" (onChange)="changeBarChart($event)" [autoWidth]="false"></p-dropdown>
        </div>
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
          [chartType]="barChartType"></canvas>
      </div>
    </div>
  </div>
</div>