/* .row {
  background-color: #f7f7f7 !important;
}

.dshbd {
  font-size: 3em;
  margin-left: -0.1em !important;
  line-height: initial !important;
}

.card-panel {
  height: 23.5em;
  font-family: initial;
  font-style: italic;
  text-align: center;
}

.noData {
  font-size: 9em;
} */