<div *ngIf="!isDataRet" class="row" style="width: 50% !important;">
  <div class="indeterminate" style="width: 70%"></div>
</div>

<div *ngIf="isDataRet" class="row">
  <div class="col-sm-10 offset-md-1 mt-4 pt-3 border">
    <nav>
      <div class="nav nav-tabs border-bottom-0" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#unarchived" role="tab" aria-controls="nav-home"
          aria-selected="true">RFQs</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#archived" role="tab" aria-controls="nav-archived"
          aria-selected="false">Archived RFQs</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#deleted" role="tab" aria-controls="nav-deleted"
          aria-selected="false">Deleted RFQs</a>
      </div>
    </nav>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="unarchived" role="tabpanel" aria-labelledby="nav-home-tab">
        <p-table [value]="unArchivedRfqs" [paginator]="true" [rows]="10" [responsive]="true" [rowsPerPageOptions]="[10, 20, 50]"
          #dt (onPage)="onPaginate(dt)">
          <ng-template pTemplate="caption">
            List of RFQs
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th class="text-center" style="width: 7%; height: 3em;">RFQ ID </th>
              <th class="text-center" style="width: 7%;">Status</th>
              <th class="text-center">Created By</th>
              <th class="text-center">Date Created</th>
              <th class="text-center">Closing Date</th>
              <th class="text-center" style="width: 20%;">Tag</th>
              <th class="text-center" style="width: 7%;">Quotes</th>
              <th class="text-center">Alternate Contacts</th>
              <th class="text-center">Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rfqObj>
            <tr class="datRow" style="width: 7%; height: 3em;">
              <td class="text-center">
                <a class="underline" (click)="viewRfq(rfqObj.rfqSeq)" title="View Details">{{rfqObj.rfqSeq}}</a>
              </td>
              <td class="text-center">
                <span *ngIf="rfqObj['status'] === 1">OPEN</span>
                <span *ngIf="rfqObj['status'] === 2">CLOSED</span>
              </td>
              <td class="text-center">
                <a title="Phone No: {{rfqObj.pri_contact.work}}, E-mail: {{rfqObj.pri_contact.email}}">
                  {{rfqObj.pri_contact.lName}} {{rfqObj.pri_contact.mName}} {{rfqObj.pri_contact.fName}}
                </a>
              </td>
              <td class="text-center">{{rfqObj['createdOn'] | date: 'mediumDate'}}</td>
              <td class="text-center">{{rfqObj['bidEndDate'] | date: 'mediumDate'}}</td>
              <td class="text-center">{{rfqObj['tag']}}</td>
              <td class="text-center">
                <a *ngIf="rfqObj['quotes'].length > 0" class="underline" title="View Quotes" (click)="viewQuotes(rfqObj.rfqSeq)">{{rfqObj['quotes'].length}}</a>
                <span *ngIf="rfqObj['quotes'].length === 0">0</span>
              </td>
              <td class="text-center">
                <a title="View Alternate Contacts" href="javascript:void(0)" (click)="viewAltContacts(rfqObj)">View</a>
              </td>
              <td class="text-center">
                <div class="dropdown">
                  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="rfqOptnsMenuBtn" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" (mouseover)="selRfq(rfqObj)">
                    Options
                  </button>
                  <div class="dropdown-menu" aria-labelledby="rfqOptnsMenuBtn">
                    <a *ngIf="selectedRfqObj !== undefined && selectedRfqObj['status'] == '1'" class="dropdown-item" (click)="editRfq()">Edit</a>
                    <a *ngIf="selectedRfqObj !== undefined &&  selectedRfqObj['status'] == '2'" class="dropdown-item" (click)="archiveRfq()">Archive</a>
                    <a *ngIf="selectedRfqObj !== undefined &&  selectedRfqObj['status'] == '1'" class="dropdown-item" (click)="promptRfqClose()">Close</a>
                    <a *ngIf="selectedRfqObj !== undefined &&  selectedRfqObj['status'] == '2'" class="dropdown-item" (click)="deleteRfq()">Delete</a>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td class="text-center" [attr.colspan]="9">{{emptyRfqMsg}}</td>
            </tr>
          </ng-template>
        </p-table>
        <div *ngIf="unArchivedRfqs.length >= 1" class="mb-2 mt-2 text-center">
          <span *ngIf="!isTablePaginated && unArchivedRfqs.length > 10">Displaying: 10 of {{unArchivedRfqs.length}} records</span>
          <span *ngIf="!isTablePaginated && unArchivedRfqs.length === 1">Displaying: 1 of 1 record</span>
          <span *ngIf="!isTablePaginated && unArchivedRfqs.length > 1 && unArchivedRfqs.length <= 10">Displaying: {{unArchivedRfqs.length}} of {{unArchivedRfqs.length}} records</span>
          <span *ngIf="isTablePaginated">Displaying: {{noOfRows}} of {{unArchivedRfqs.length}}</span>
        </div>
      </div>
      <div class="tab-pane fade" id="archived" role="tabpanel" aria-labelledby="nav-profile-tab">
        <p-table [value]="archivedRfqs" [responsive]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]">
          <ng-template pTemplate="caption">
            List of Archived RFQs
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th class="text-center" style="width: 7%; height: 3em;">RFQ ID </th>
              <th class="text-center" style="width: 7%;">Status</th>
              <th class="text-center">Created By</th>
              <th class="text-center">Date Created</th>
              <th class="text-center">Closing Date</th>
              <th class="text-center" style="width: 20%;">Tag</th>
              <th class="text-center" style="width: 7%;">Quotes</th>
              <th class="text-center">Alternate Contacts</th>
              <th class="text-center">Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rfqObj>
            <tr class="datRow" style="width: 7%; height: 3em;">
              <td class="text-center">
                <a class="underline" (click)="viewRfq(rfqObj.rfqSeq)" title="View Details">{{rfqObj.rfqSeq}}</a>
              </td>
              <td class="text-center">
                <span *ngIf="rfqObj['status'] === 1">OPEN</span>
                <span *ngIf="rfqObj['status'] === 2">CLOSED</span>
              </td>
              <td class="text-center">
                <a title="Phone No: {{rfqObj.pri_contact.work}}, E-mail: {{rfqObj.pri_contact.email}}">
                  {{rfqObj.pri_contact.lName}} {{rfqObj.pri_contact.mName}} {{rfqObj.pri_contact.fName}}
                </a>
              </td>
              <td class="text-center">{{rfqObj['createdOn'] | date: 'mediumDate'}}</td>
              <td class="text-center">{{rfqObj['bidEndDate'] | date: 'mediumDate'}}</td>
              <td class="text-center">{{rfqObj['tag']}}</td>
              <td class="text-center">
                <a *ngIf="rfqObj['quotes'].length > 0" class="underline" title="View Quotes" (click)="viewQuotes(rfqObj.rfqSeq)">{{rfqObj['quotes'].length}}</a>
                <span *ngIf="rfqObj['quotes'].length === 0">0</span>
              </td>
              <td class="text-center">
                <a title="View Alternate Contacts" (click)="viewAltContacts(rfqObj)">View</a>
              </td>
              <td class="text-center">

                <nav class="optionsNav">
                  <ul class="drpDwn">
                    <li>
                      <a class="optionsLink" (mouseover)="selRfq(rfqObj)">Options</a>
                      <ul class="optionslinksUl">
                        <li>
                          <a (click)="unArchiveRfq()">Unarchive</a>
                        </li>
                        <li>
                          <a (click)="deleteRfq()">Delete</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td class="text-center" [attr.colspan]="9">{{emptyRfqMsg}}</td>
            </tr>
          </ng-template>
        </p-table>
        <div *ngIf="archivedRfqs.length > 0" class="mb-2 mt-2 text-center">Displaying: {{archivedRfqs.length}} records</div>
      </div>
      <div class="tab-pane fade" id="deleted" role="tabpanel" aria-labelledby="nav-contact-tab">
        <p-table [value]="deletedRfqs" [responsive]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]">
          <ng-template pTemplate="caption">
            List of Deleted RFQs
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th class="text-center" style="width: 7%; height: 3em;">RFQ ID </th>
              <th class="text-center" style="width: 7%;">Status</th>
              <th class="text-center">Created By</th>
              <th class="text-center">Date Created</th>
              <th class="text-center">Closing Date</th>
              <th class="text-center" style="width: 20%;">Tag</th>
              <th class="text-center" style="width: 7%;">Quotes</th>
              <th class="text-center">Alternate Contacts</th>
              <th class="text-center">Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rfqObj>
            <tr style="width: 7%; height: 3em;">
              <td class="text-center">
                <a class="underline" (click)="viewRfq(rfqObj.rfqSeq)" title="View Details">{{rfqObj.rfqSeq}}</a>
              </td>
              <td class="text-center">
                <span *ngIf="rfqObj['status'] === 1">OPEN</span>
                <span *ngIf="rfqObj['status'] === 2">CLOSED</span>
              </td>
              <td class="text-center">
                <a title="Phone No: {{rfqObj.pri_contact.work}}, E-mail: {{rfqObj.pri_contact.email}}">
                  {{rfqObj.pri_contact.lName}} {{rfqObj.pri_contact.mName}} {{rfqObj.pri_contact.fName}}
                </a>
              </td>
              <td class="text-center">{{rfqObj['createdOn'] | date: 'mediumDate'}}</td>
              <td class="text-center">{{rfqObj['bidEndDate'] | date: 'mediumDate'}}</td>
              <td class="text-center">{{rfqObj['tag']}}</td>
              <td class="text-center">
                <a *ngIf="rfqObj['quotes'].length > 0" class="underline" title="View Quotes" (click)="viewQuotes(rfqObj.rfqSeq)">{{rfqObj['quotes'].length}}</a>
                <span *ngIf="rfqObj['quotes'].length === 0">0</span>
              </td>
              <td class="text-center">
                <a title="View Alternate Contacts" (click)="viewAltContacts(rfqObj)">View</a>
              </td>
              <td class="text-center">
                <nav class="optionsNav">
                  <ul class="drpDwn">
                    <li>
                      <a class="optionsLink" (mouseover)="selRfq(rfqObj)">Options</a>
                      <ul class="optionslinksUl">
                        <li>
                          <a (click)="restoreRfq()">Restore</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td class="text-center" [attr.colspan]="9">{{emptyRfqMsg}}</td>
            </tr>
          </ng-template>
        </p-table>
        <div *ngIf="deletedRfqs.length > 0" class="mb-2 mt-2 text-center">Displaying: {{deletedRfqs.length}} records</div>
      </div>
    </div>
  </div>

  <p-dialog [(visible)]="isModal" [modal]="true" [responsive]="true" [baseZIndex]="10000" [positionTop]="70" [dismissableMask]="true"
    (onHide)="closeModal()">
    <p-header [ngStyle]="{'text-align': 'center'}">{{modalTitle}}</p-header>
    {{prompt}}
    <textarea *ngIf="isDelRfq" id="closeRfqTxtarea" class="col s9 customTxtArea noOutline" [rows]="5" [cols]="5" pInputTextarea
      autoResize="autoResize" placeholder="Please enter a reason" (keyup)="hideErrorTxt()"></textarea>
    <div *ngIf="closeRfqErrMsg" class="errorTxt">{{rfqCancelPrompt}}</div>
    <p-footer *ngIf="isDelRfq">
      <button pButton class="ui-button-success submitBtn" type="button" title="Delete" label="Confirm" (click)="closeRfq()"></button>
      <button pButton class="ui-button-danger submitBtn" type="button" title="Cancel" label="Cancel" (click)="closeModal()"></button>
    </p-footer>
    <div *ngIf="isAltContsClicked">
      <p-table [value]="selectedRfqAltContacts" [responsive]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone No</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cont>
          <tr>
            <td>
              <a>{{cont.fName}} {{cont.mName}} {{cont.lName}}</a>
            </td>
            <td>{{cont.email}}</td>
            <td>{{cont.work}}</td>
            <td style="text-align: center;">
              <i class="far fa-trash-alt" title="Remove Contact" (click)="promptContDel($event, cont)"></i>
              <div id="{{cont['email']}}" style="display: none;">
                <span>Delete Contact?</span>
                <i class="fa fa-check" aria-hidden="true" title="Confirm delete action" (click)="deleteAltContact(cont)"></i>
                <i class="fa fa-times sideOffset" aria-hidden="true" title="Undo delete action" (click)="undoAltContDel(cont['email'])"></i>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td class="text-center" [attr.colspan]="4">{{emptyAltContMsg}}</td>
          </tr>
        </ng-template>
      </p-table>
      <div>
        <div class="col s12 addContLink">
          <a class="underline" title="Add alternate contact to Rfq" (click)="toggleAltContactForm()">Add Alternate Contact(s)</a>
        </div>

        <div class="col s12" id="altContsDiv">
          <form class="col s12 addContForm" [formGroup]="addContactForm" (ngSubmit)="addAltContact(addContactForm.value)">
            <div *ngIf="!isDifferentUserFound" class="row">
              <div class="input-field col s2">
                <input id="contFname" type="text" formControlName="fName" />
                <label for="contFname">Contact First Name</label>
              </div>
              <div class="input-field col s3">
                <input id="contlname" type="text" formControlName="lName" />
                <label for="contlname">Contact Last Name</label>
              </div>
              <div class="input-field col s4">
                <input id="contEmail" type="text" formControlName="email" />
                <label for="contEmail">Contact Email</label>
              </div>
              <div class="input-field col s3 altContAddBtnDiv">
                <button pButton type="submit" title="Add Contact to RFQ" label="Add" [disabled]="!addContactForm.valid"></button>
                <button class="ui-button-danger" pButton type="button" (click)="cancelAltContact()" label="Cancel"></button>
              </div>
              <div class="col s12" id="msgDiv" style="margin-top: -1em;">{{retMsg}}</div>
            </div>
            <div *ngIf="isDifferentUserFound">
              <div>
                <span class="errorTxt">{{diffUserFoundMsg}}</span>
              </div>
              <div class="foundUserDiv">
                <div>
                  <strong>Name: </strong>
                  <span>{{diffUserFound['fName']}} {{diffUserFound['mName']}} {{diffUserFound['lName']}} </span>
                </div>
                <div>
                  <strong>Email: </strong>
                  <span>{{diffUserFound['email']}}</span>
                </div>
                <div>
                  <strong>Office No: </strong>
                  <span>{{diffUserFound['work']}}</span>
                </div>
              </div>
              <div class="foundUserBtnsDiv">
                <button pButton type="button" title="Add Contact to RFQ" label="Add this contact" (click)="addFoundUser(diffUserFound)"></button>
                <button class="ui-button-danger" pButton type="button" (click)="cancelAddFoundUser()" label="No"></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </p-dialog>
</div>