<div class="row rfqForm">
    <div class="col s8 offset-s2 cardContainer">
      <div class="card">
        <div class="sm-jumbotron center-align">
          <span class="formTitle">RFQ #{{rfqObj['rfqSeq']}} - Edit</span>
        </div>
        <form class="col s12 white" [formGroup]="rfqForm" (ngSubmit)="submitEditedRfq(rfqForm.value)">
          <div class="row inputRow">
            <div class="input-field col s12">
              <div class="col s2">
                <label for="prods">
                  <input id="prods" class="with-gap" name="rfqType" type="radio" value="Products" formControlName="rfqType" (change)="setRfqType($event)"
                    required />
                  <span>Products</span>
                </label>
              </div>
              <div class="col s2">
                <label for="services">
                  <input id="services" class="with-gap" name="rfqType" type="radio" value="Services" 
                  formControlName="rfqType" (change)="setRfqType($event)"/>
                  <span>Services</span>
                </label>
              </div>
            </div>
            <div class="col s12">
              <div *ngIf="!isChangebidEndDateTrig" id="closingDateDiv" class="s6">
                  <strong>RFQ Closing Date: </strong>
                  <span>{{rfqObj['bidEndDate'] | date: 'fullDate'}}</span>
                  <a style="margin-left: 1em;" (click)="changeRfqClosingDate()">Change</a>
              </div>
              <div *ngIf="isChangebidEndDateTrig" class="s3">
                  <p-calendar id="closingDate" formControlName="bidEndDate" dateFormat="dd/mm/yy" 
                  placeholder="Closing Date" [minDate]="currentDate"></p-calendar>
                  <a style="margin-left: 1em;" (click)="undoChangeRfqClosingDate()">Undo</a>
                </div>
            </div>
            <div class="input-field col s12">
              <input id="tag" type="text" formControlName="tag" [(ngModel)]="rfqObj.tag">
              <label for="tag">Tag Your Request (e.g Request for 100 laptops)</label>
            </div>
            <div class="input-field col s3">
              <select id="selectEl" formControlName="cat" (change)="onCatSelect($event)" [(ngModel)]="rfqObj.cat" disabled>
                <option value=""></option>
                <option *ngFor="let cat of categories" value="{{cat['name']}}">{{cat['name']}}</option>
              </select>
              <label for="selectEl" class="selLabel"></label>
            </div>
            <div class="col s9">
              <div class="input-field col s5">
                <select id="subCatSelectEl" formControlName="subCat" [(ngModel)]="rfqObj.subCat">
                  <option value=""></option>
                  <option *ngFor="let subCat of subCats" value="{{subCat['name']}}">{{subCat['name']}}</option>
                </select>
                <label for="subCatSelectEl" class="selLabel"></label>
              </div>
              <div class="input-field col s5">
                <input id="other" type="text" formControlName="other" [(ngModel)]="rfqObj.other"/>
                <label for="other">Other</label>
              </div>
            </div>
  
            <div class="col s12">
              <textarea class="col s9 customTxtArea noOutline" [rows]="15" [cols]="20" pInputTextarea autoResize="autoResize" formControlName="desc"
                [(ngModel)]="rfqObj['desc']"></textarea>
              <div class="col s3">
                <div class="card-panel rfqHint">
                  <span>{{hint}}</span>
                </div>
              </div>
            </div>
            <div class="col s12 attchmntsDiv">
              <div class="s12" style="text-decoration:underline;">Attachment(s)</div>
              <ul *ngIf="rfqObj.attachmentList.length > 0">
                <li *ngFor="let file of rfqObj.attachmentList">
                  <a href="javascript:void(0)" (click)="displayImg(file['uploadName'])">{{file['originalname']}}</a>
                  <i class="far fa-trash-alt" title="Delete File" (click)="promptFileDel(file)"></i>
                </li>
              </ul>
              <span *ngIf="rfqObj.attachmentList.length == 0">NONE</span>
            </div>
            <div id="fileSelector" class="input-field col s12">
              <input type="file" name="fileUpload" id="fileUpload" multiple ng2FileSelect [uploader]="uploader">
            </div>
            <div class="col s12 uploadList" *ngFor="let item of uploader.queue">
              <div class="col">{{item.file.name}}</div>
              <div class="col s3">
                <div class="progress">
                  <div class="progress-bar bg-success" [ngStyle]="{'width': item.progress+'%'}"></div>
                </div>
              </div>
              <div class="col s3">
                <button pButton type="button" label="Upload" (click)="item.upload()"></button>
                <button class="ui-button-danger" pButton type="button" label="cancel" (click)="item.remove()"></button>
              </div>
            </div>
            <div class="col s12">
              <a class="underline" (click)="toggleAltContactForm()">Add Alternate Contact(s)</a>
            </div>
            <div *ngIf="rfqObj.alt_contacts.length > 0" class="col s12">
                <p-table [value]="rfqObj.alt_contacts" [responsive]="true" [style]="{'width': '75%'}">
                    <ng-template pTemplate="header">
                      <tr>
                        <th class="cAlign">Name</th>
                        <th class="cAlign">Email</th>
                        <th class="cAlign" style="width: 19%;">Phone No</th>
                        <th class="cAlign" style="width: 20%;">Action</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-cont>
                      <tr>
                        <td>
                          <a>{{cont.fName}} {{cont.mName}} {{cont.lName}}</a>
                        </td>
                        <td>{{cont.email}}</td>
                        <td>{{cont.work}}</td>
                        <td style="text-align: center;">
                            <i class="far fa-trash-alt" title="Remove Contact" (click)="promptContDel($event, cont)"></i>
                            <div id="{{cont['email']}}" style="display: none;">
                              <span>Delete?</span>
                              <i class="fa fa-check" aria-hidden="true" title="Confirm delete action" (click)="deleteAltContact(cont)"></i>
                              <i class="fa fa-times sideOffset" aria-hidden="true" title="Undo delete action" (click)="undoAltContDel(cont['email'])"></i>
                            </div>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                      <tr [attr.colspan]="3" class="emptyRcrd">
                        {{emptyAltContMsg}}
                      </tr>
                    </ng-template>
                  </p-table>
            </div>
            <div class="row inputRow">
              <div class="col s9" id="altContsDiv">
                <div class="input-field col s3">
                  <input id="contFname" type="text" />
                  <label for="contFname">Contact First Name</label>
                </div>
                <div class="input-field col s4">
                  <input id="contlname" type="text" />
                  <label for="contlname">Contact Last Name</label>
                </div>
                <div class="input-field col s5">
                  <input id="contEmail" type="text" />
                  <label for="contEmail">Contact Email</label>
                </div>
                <div class="col s3">
                  <button pButton type="button" (click)="addAltContact()" label="Add"></button>
                  <button class="ui-button-danger" pButton type="button" (click)="cancelAltContact()" label="Cancel"></button>
                </div>
                <div *ngIf="isAltContMsg" class="col s12 errorTxt" style="margin-top: -1em;">{{errMsg}}</div>
                <div *ngIf="isAltContMsg" class="col s12 successTxt" style="margin-top: -1em;">{{successMsg}}</div>
              </div>
            </div>
            <div class="col s12 modReasonDiv">
                <textarea class="col s9 customTxtArea noOutline" [rows]="5" [cols]="20" pInputTextarea autoResize="autoResize"
                placeholder="Please enter a reason" formControlName="modReason"></textarea>
              </div>
          </div>
          <div class="row">
              <div class="input-field s12 errDiv brdrRad" *ngIf="isUpdateErr">
                <span>{{errMsg}}</span>
              </div>
            <div class="input-field col s12">
              <button pButton class="ui-button-success submitBtn" type="submit" title="Submit Request" label="Update" [disabled]="!rfqForm.valid"></button>
              <button pButton class="ui-button-danger submitBtn" type="button" title="Cancel" label="Cancel" (click)="navToPrevPg()"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <p-dialog header="{{imgTitle}}" [(visible)]="isModal" [dismissableMask]="true" [modal]="true" 
  [responsive]="true" [baseZIndex]="10000" [positionTop]="70" [contentStyle]="{'overflow': 'visible'}">
    <img id="imgFile"/>  
</p-dialog>