/* .homeIcon {
  height: 4em;
  width: 4em;
}

.customBtn {
  border: 1px solid #3686be;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  line-height: 3em;
  position: relative;
  top: 0.8em;
}

.customBtn:hover {
  color: #ffffff !important;
  background-color: #3686be !important;
}

nav {
  box-shadow: 0 0.5px 1px 0 rgba(0,0,0,0.1), 0 1px 1px 0 rgba(0,0,0,0.0), 0 0 1px 0px rgba(0,0,0,0) !important;
}

.dropdown-menu {
  z-index: 10000;
  background-color: #11172b!important;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-content {
  opacity: initial !important;
  position: initial !important;
  min-width: 7.5em !important;
}

.dropdown-content, .dropdown-menu,
.right>li>a,
.dropdown-trigger, 
.dropdown-content li>a,
.dropdown-content li>span {
  color: #000;
}

.right>li>a,
.dropdown-trigger, 
.dropdown-content li>a,
.dropdown-content li>span, .head_cont  {
  font-size: 0.9em !important;
}

.head_cont {
  display: flex; 
  flex:1; 
  line-height: 1em; 
  height: 100%; 
  font-size: 0.9em;
}

.socials {
  line-height: 1em; 
  height: 100%;
}
.socials > ul > li > a { 
  height: 2.3em;
  border-radius: 50%;
}
.socials > ul > li > a:hover {
  box-shadow: 0.5px 0.5px 1px 1px #fff !important;
  color: #7fc346 !important;
}
.icon-offset {
  height: 40px !important; 
  line-height: 40px !important;
} */


/* For new tabs i'm  impl */
/* .headerRow, .tabs {
  background-color: #11172b!important;
}
.tabs > .tab > a {
  padding: 0 !important;
  font-size: 0.9em !important;
  color: #fff !important;
  text-overflow: initial !important
}
.tabs > li {
  text-transform: none !important;
}

.dropdown-content {
  opacity: initial !important;
  width: 6em !important;
  color: #000;
  left: auto !important;
  top: auto !important;
} */


.socials {
  line-height: 1em; 
  height: 100%;
}
.socials > a { 
  height: 2.3em;
  /* border-radius: 50%; */
}

.socials > a:hover {
  box-shadow: 0.5px 0.5px 1px 1px #fff !important;
  color: #7fc346 !important;
}