<nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar fixed-top" style="background-color: #11172b;">
  <!-- <div class="d-flex p-0 col-md-12">
                  <div class="d-flex">
                      <div class="">
                        <i class="fa fa-phone-square icon-offset" aria-hidden="true"></i> Business Inquiry:
                        <span>{{officeNo}} (US)</span>
                      </div>
                      <div class="col-sm">
                        <i class="fa fa-envelope" aria-hidden="true"></i> 
                        <a href="mailto:{{email}}">Email: {{email}}</a>
                      </div>
                    </div>
                      <div class="socials">
                          <a class="rounded-circle" target="blank" routerLink="fb_connect" title="Facebook" href="/fb_connect">
                            <i class="fa fa-facebook sm icon-offset"></i>
                          </a>
                          <a class="rounded-circle" target="blank" routerLink="ig_connect" title="Instagram" href="/ig_connect">
                            <i class="fa fa-instagram sm icon-offset"></i>
                          </a>
                          <a class="rounded-circle" target="blank" routerLink="tw_connect" title="Twitter" href="/tw_connect">
                            <i class="fa fa-twitter sm icon-offset"></i>
                          </a>
                          <a class="rounded-circle" target="blank" routerLink="lin_connect" title="LinkedIn" href="/lin_connect">
                            <i class="fa fa-linkedin sm icon-offset"></i>
                          </a>
                      </div>
              </div> -->

  <a class="navbar-brand" routerLink="/" title="{{hLinkTitle}}">
    <!-- <i class="fa fa-home img-fluid" aria-hidden="true" alt="Home Icon" width="30" height="30"></i> -->
    <img class="img-fluid" src="{{hLink}}" alt="Home Icon" width="30" height="30" style="background: white;">
  </a>

  <ul class="nav ml-md-auto">
    <li class="nav-item">
      <a class="nav-link text-light active" routerLink="/" title="Home">Home</a>
    </li>
    <li *ngIf="!authService.loggedIn()" class="nav-item">
      <a class="nav-link text-light" href="javascript:void(0)" data-toggle="modal" data-target="#signupModal" title="Create an Account">Sign up</a>
    </li>
    <li *ngIf="!authService.loggedIn()" class="nav-item">
      <a class="nav-link text-light" title="Log In" href="javascript:void(0)" data-toggle="modal" data-target="#loginModal" (click)="trigLogin()">Login</a>
    </li>
    <li *ngIf="authService.verifyCust() || isVerified" class="nav-item">
      <a class="nav-link text-light" routerLink="new-rfq">Create An RFQ</a>
    </li>
    <li *ngIf="authService.loggedIn()" class="nav-item">
      <a class="nav-link text-light" routerLink="dashboard">My Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="#">What we do</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="#">Our clients</a>
    </li>
    <li *ngIf="authService.loggedIn()" class="nav-item">
      <a class="nav-link text-light" href="javascript:void(0)" (click)="logout()" title="Logout">Logout</a>
    </li>
    <li *ngIf="authService.loggedIn()" class="nav-item">
      <a class="nav-link mt-1" href="#">
        <i class="fas fa-user-circle text-light" routerLink="profile" title="View Profile" style="font-size: 1.2em;"></i>
      </a>
    </li>
    <li *ngIf="authService.verifyCust() || isVerified" class="nav-item dropdown">
      <a class="nav-item nav-link mr-md-2" href="#" id="optns" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-th nav-link text-light"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="optns">
        <ul class="dropdown-item">
          <li>
            <a routerLink="quotes" title="Go to quotes portal">Quotes</a>
          </li>
          <li>
            <a routerLink="#!">Government</a>
          </li>
          <li>
            <a routerLink="#!">Other</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>



<!-- Modal -->
<!-- <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true"
  style="top: 4em !important;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">{{modalTitle}}</h5>
      </div>
      <div class="modal-body row">
        <div class="text-center col-md-4 ml-3" style="flex: 1; background-color: #ebedf1;">
          <div>Quotes App</div>
          <div class="mt-3">
            <i class="fa fa-lock" aria-hidden="true" style="font-size: 6em !important;"></i>
          </div>
          <div class="mt-4">
            <div>Not Registered?</div>
            <div style="font-size: 0.9em;">
              <a title="Create an Account" routerLink="/signup">Sign up now!</a>
            </div>
          </div>
        </div>
        <form class="col-md-8" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
          <div class="form-group">
            <input class="form-control " id="user" type="text" formControlName="user" placeholder="Username" (keyup)="hideErrorMsg()">
          </div>
          <div class="form-group">
            <input class="form-control" id="pw" type="password" formControlName="pw" placeholder="Password" (keyup)="hideErrorMsg()">
          </div>
          <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" id="autoSizingCheck">
            <label class="form-check-label" for="autoSizingCheck">
              Remember me
            </label>
          </div>
          <div>
            <button type="button" class="btn btn-success" type="submit" title="Log in to account" [disabled]="!loginForm.valid">Login</button>
            <button type="button" class="btn btn-danger" type="button" title="Cancel" label="Cancel" (click)="back()">Cancel</button>
          </div>
          <div *ngIf="isErrorRet" class="text-danger" style="font-size: 0.9em;">{{errMsg}}</div>
          <div class="mt-2" style="font-size: 0.9em;">
            <a href="javascript:void(0)" (click)="trigFu()" title="Forgot Username">Forgot Username</a> &nbsp;|&nbsp;
            <a href="javascript:void(0)" (click)="trigFp()" title="Forgot Password">Forgot Password</a>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div style="font-size: 0.9em;">
          By logging in to this application, you agree to our
          <a href="javascript:void(0)">Terms of Use</a> and
          <a href="javascript:void(0)">Privacy Policy</a>.
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Sign up modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title col" id="loginModalLabel">Create an Account</h5>
      </div>
      <div class="modal-body">
        <app-signup></app-signup>
      </div>
      <div class="modal-footer">
        <div class="col" style="font-size: 0.9em;">By creating an account on this application, you are agree to our
          <a href="javascript:void(0)">Terms of Use</a> and
          <a href="javascript:void(0)">Privacy Policy</a>.
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of signup -->

<!-- Log in modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true"
  style="top: 4em !important;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">{{modalTitle}}</h5>
      </div>
      <div class="modal-body">
        <app-login></app-login>
      </div>
      <div class="modal-footer">
        <div style="font-size: 0.9em;">
          By logging in to this application, you agree to our
          <a href="javascript:void(0)">Terms of Use</a> and
          <a href="javascript:void(0)">Privacy Policy</a>.
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of log in -->