<div *ngIf="!verifRespRet" class="progress">
    <div class="indeterminate" style="width: 70%"></div>
</div>
<p-messages *ngIf="verifRespRet" [(value)]="verifStatusMsg" [closable]="false"></p-messages>