<!-- <div class="row rfqForm">
  <div class="col s8 offset-s2 cardContainer">
    <div class="card">
      <div class="sm-jumbotron center-align">
        <span class="formTitle">Request for Quotes</span>
      </div>
      <form class="col s12 white" [formGroup]="rfqForm" (ngSubmit)="submitNewReq(rfqForm.value)">
        <div class="row inputRow">
          <div class="input-field col s12">
            <div class="col s2">
              <label for="prods">
                <input id="prods" class="with-gap" name="rfqType" type="radio" value="Products" formControlName="rfqType" (change)="setRfqType($event)"
                  required />
                <span>Products</span>
              </label>
            </div>
            <div class="col s2">
              <label for="services">
                <input id="services" class="with-gap" name="rfqType" type="radio" value="Services" formControlName="rfqType" (change)="setRfqType($event)"
                />
                <span>Services</span>
              </label>
            </div>
          </div>
          <div class="col s3">
            <p-calendar id="closingDate" formControlName="bidEndDate" dateFormat="dd/mm/yy" placeholder="Closing Date" [minDate]="currentDate"></p-calendar>
          </div>
          <div class="input-field col s12">
            <input id="tag" type="text" formControlName="tag">
            <label for="tag">Tag Your Request (e.g Request for 100 laptops)</label>
          </div>
          <div class="input-field col s3">
            <select id="selectEl" formControlName="cat" (change)="onCatSelect($event)">
              <option value="" selected></option>
              <option *ngFor="let cat of categories" value="{{cat['name']}}">{{cat['name']}}</option>
            </select>
            <label for="selectEl" class="selLabel">Select {{rfqType}} Category</label>
          </div>
          <div *ngIf="isCatSelected" class="col s9">
            <div class="input-field col s5">
              <select id="subCatSelectEl" formControlName="subCat" (change)="onSubCatSelect($event)">
                <option value="" selected></option>
                <option *ngFor="let subCat of subCats" value="{{subCat['name']}}">{{subCat['name']}}</option>
              </select>
              <label for="subCatSelectEl" class="selLabel subCatLabel">Select</label>
            </div>
            <div class="input-field col s5">
              <input id="other" type="text" formControlName="other" />
              <label for="other">Other</label>
            </div>
          </div>
          <div class="col s12">
            <span>Enter Unit Price or slide to pick a price range</span>
            <div class="col s1">
              <select id="currencySelEl" (change)="onCurrencySelect($event)">
                    <option value="" selected></option>
                    <option value="NGN">&#8358;</option>
                    <option value="USD">&#36;</option>
                    <option value="GBP">&#163;</option>
                    <option value="EUR">&#8364;</option>
                </select>
            </div>
          </div>

          <div class="col s12">
            <textarea class="col s9 customTxtArea noOutline" [rows]="15" [cols]="20" pInputTextarea autoResize="autoResize" formControlName="desc"
              placeholder="Enter description"></textarea>
            <div class="col s3">
              <div class="card-panel rfqHint">
                <span>{{hint}}</span>
              </div>
            </div>
          </div>
          <div id="fileSelector" class="input-field col s12">
            <input type="file" name="fileUpload" id="fileUpload" multiple ng2FileSelect [uploader]="uploader">
          </div>
          <div class="col s12 uploadList" *ngFor="let item of uploader.queue">
            <div class="col">{{item.file.name}}</div>
            <div class="col s3">
              <div class="progress">
                <div class="progress-bar bg-success" [ngStyle]="{'width': item.progress+'%'}"></div>
              </div>
            </div>
            <div class="col s3">
              <button pButton type="button" label="Upload" (click)="item.upload()"></button>
              <button class="ui-button-danger" pButton type="button" label="cancel" (click)="item.remove()"></button>
            </div>
          </div>
          <div class="col s12">
            <a class="underline" (click)="toggleAltContactForm()">Add Alternate Contact(s)</a>
          </div>
          <div class="row inputRow">
            <div class="col s12" id="altContsDiv">
              <div class="input-field col s3">
                <input id="contFname" type="text" />
                <label for="contFname">Contact First Name</label>
              </div>
              <div class="input-field col s3">
                <input id="contlname" type="text" />
                <label for="contlname">Contact Last Name</label>
              </div>
              <div class="input-field col s3">
                <input id="contEmail" type="text" />
                <label for="contEmail">Contact Email</label>
              </div>
              <div class="input-field col s3 altContAddBtnDiv">
                <button pButton type="button" (click)="addAltContact()" label="Add"></button>
                <button class="ui-button-danger" pButton type="button" (click)="cancelAltContact()" label="Cancel"></button>
              </div>
              <div *ngIf="isAltContMsg" class="col s12 errorTxt" style="margin-top: -1em;">{{errMsg}}</div>
              <div *ngIf="isAltContMsg" class="col s12 successTxt" style="margin-top: -1em;">{{successMsg}}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button pButton class="ui-button-success submitBtn" type="submit" title="Submit Request" label="Submit" [disabled]="!rfqForm.valid"></button>
            <button pButton class="ui-button-danger submitBtn" type="button" title="Cancel" label="Cancel" (click)="navToPrevPg()"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> -->


<div class="container mt-2">
    <div class="bg-light mb-2 text-center">
        <span class="pgTitle">Request For Quotes</span>
      </div>
    <form class="col" [formGroup]="rfqForm" (ngSubmit)="submitNewReq(rfqForm.value)">
      <div class="row">
          <div class="form-check">
              <input class="form-check-input" type="radio" name="rfqType" id="prods" value="Products" 
              formControlName="rfqType" (change)="setRfqType($event)">
              <label class="form-check-label" for="opt1">
                  Products
              </label>
          </div>
              
            <div class="form-check ml-4">
              <input class="form-check-input" type="radio" name="rfqType" id="services" value="Services" 
              formControlName="rfqType" (change)="setRfqType($event)">
              <label class="form-check-label" for="opt2">
               Services
              </label>
            </div>
      </div>
    </form>
</div>






<!-- <div class="row">
    <div class="col">
      <div class="card">
        <div class="">
          <span class="formTitle">Request for Quotes</span>
        </div>
        <form class="col s12 white" [formGroup]="rfqForm" (ngSubmit)="submitNewReq(rfqForm.value)">
          <div class="row inputRow">
            <div class="input-field col s12">
              <div class="col s2">
                <label for="prods">
                  <input id="prods" class="with-gap" name="rfqType" type="radio" value="Products" formControlName="rfqType" (change)="setRfqType($event)"
                    required />
                  <span>Products</span>
                </label>
              </div>
              <div class="col s2">
                <label for="services">
                  <input id="services" class="with-gap" name="rfqType" type="radio" value="Services" formControlName="rfqType" (change)="setRfqType($event)"
                  />
                  <span>Services</span>
                </label>
              </div>
            </div>
            <div class="col s3">
              <p-calendar id="closingDate" formControlName="bidEndDate" dateFormat="dd/mm/yy" placeholder="Closing Date" [minDate]="currentDate"></p-calendar>
            </div>
            <div class="input-field col s12">
              <input id="tag" type="text" formControlName="tag">
              <label for="tag">Tag Your Request (e.g Request for 100 laptops)</label>
            </div>
            <div class="input-field col s3">
              <select id="selectEl" formControlName="cat" (change)="onCatSelect($event)">
                <option value="" selected></option>
                <option *ngFor="let cat of categories" value="{{cat['name']}}">{{cat['name']}}</option>
              </select>
              <label for="selectEl" class="selLabel">Select {{rfqType}} Category</label>
            </div>
            <div *ngIf="isCatSelected" class="col s9">
              <div class="input-field col s5">
                <select id="subCatSelectEl" formControlName="subCat" (change)="onSubCatSelect($event)">
                  <option value="" selected></option>
                  <option *ngFor="let subCat of subCats" value="{{subCat['name']}}">{{subCat['name']}}</option>
                </select>
                <label for="subCatSelectEl" class="selLabel subCatLabel">Select</label>
              </div>
              <div class="input-field col s5">
                <input id="other" type="text" formControlName="other" />
                <label for="other">Other</label>
              </div>
            </div>
            <div class="col s12">
              <span>Enter Unit Price or slide to pick a price range</span>
              <div class="col s1">
                <select id="currencySelEl" (change)="onCurrencySelect($event)">
                      <option value="" selected></option>
                      <option value="NGN">&#8358;</option>
                      <option value="USD">&#36;</option>
                      <option value="GBP">&#163;</option>
                      <option value="EUR">&#8364;</option>
                  </select>
              </div>
            </div>
  
            <div class="col s12">
              <textarea class="col s9 customTxtArea noOutline" [rows]="15" [cols]="20" pInputTextarea autoResize="autoResize" formControlName="desc"
                placeholder="Enter description"></textarea>
              <div class="col s3">
                <div class="card-panel rfqHint">
                  <span>{{hint}}</span>
                </div>
              </div>
            </div>
            <div id="fileSelector" class="input-field col s12">
              <input type="file" name="fileUpload" id="fileUpload" multiple ng2FileSelect [uploader]="uploader">
            </div>
            <div class="col s12 uploadList" *ngFor="let item of uploader.queue">
              <div class="col">{{item.file.name}}</div>
              <div class="col s3">
                <div class="progress">
                  <div class="progress-bar bg-success" [ngStyle]="{'width': item.progress+'%'}"></div>
                </div>
              </div>
              <div class="col s3">
                <button pButton type="button" label="Upload" (click)="item.upload()"></button>
                <button class="ui-button-danger" pButton type="button" label="cancel" (click)="item.remove()"></button>
              </div>
            </div>
            <div class="col s12">
              <a class="underline" (click)="toggleAltContactForm()">Add Alternate Contact(s)</a>
            </div>
            <div class="row inputRow">
              <div class="col s12" id="altContsDiv">
                <div class="input-field col s3">
                  <input id="contFname" type="text" />
                  <label for="contFname">Contact First Name</label>
                </div>
                <div class="input-field col s3">
                  <input id="contlname" type="text" />
                  <label for="contlname">Contact Last Name</label>
                </div>
                <div class="input-field col s3">
                  <input id="contEmail" type="text" />
                  <label for="contEmail">Contact Email</label>
                </div>
                <div class="input-field col s3 altContAddBtnDiv">
                  <button pButton type="button" (click)="addAltContact()" label="Add"></button>
                  <button class="ui-button-danger" pButton type="button" (click)="cancelAltContact()" label="Cancel"></button>
                </div>
                <div *ngIf="isAltContMsg" class="col s12 errorTxt" style="margin-top: -1em;">{{errMsg}}</div>
                <div *ngIf="isAltContMsg" class="col s12 successTxt" style="margin-top: -1em;">{{successMsg}}</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <button pButton class="ui-button-success submitBtn" type="submit" title="Submit Request" label="Submit" [disabled]="!rfqForm.valid"></button>
              <button pButton class="ui-button-danger submitBtn" type="button" title="Cancel" label="Cancel" (click)="navToPrevPg()"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div> -->