/* .file-field {
  height: 2.5rem !important;
  line-height: 2.6rem !important;
}

.fileUpload {
  height: 2rem !important;
  line-height: 2rem !important;
}

.file-path-wrapper {
  position: relative;
  bottom: 1.1em !important;
}

.rfqHint {
  font-style: italic;
  position: relative;
  bottom: 0.6em;
}
.uploadList {
  padding-left: 0 !important;
} */