<form class="col s12 white" [formGroup]="compForm" (ngSubmit)="registerComp(compForm.value)">
  <div class="row inputRow">
    <div>
      <div class="input-field col s3">
          <select id="count_selectEl" formControlName="country" (change)="selectCountry($event)">
              <option value="" selected></option>
              <option *ngFor="let country of countries" value="{{country}}">{{country}}</option>
            </select>
            <label for="count_selectEl" class="selLabel">Select your country</label>
      </div>
      </div>
    <div class="input-field col s4">
      <input id="compName" type="text" formControlName="compName">
      <label for="compName">Company Name</label>
    </div>
    <div class="input-field col s4">
        <input id="rcNo" type="text" formControlName="rcNo">
        <label for="rcNo">Registration Number</label>
    </div>
    <div class="input-field">
      <div class="input-field  col s9">
        <input id="addr1" class="validate" type="text" formControlName="addr1">
        <label for="addr1">Office Address(1)</label>
      </div>
      <div class="input-field  col s9">
        <input id="addr2" class="validate" type="text" formControlName="addr2">
        <label for="addr2">Address(2)</label>
      </div>
      <div class="input-field col s3">
          <select id="state_selectEl" formControlName="state">
              <option value="" selected></option>
              <option *ngFor="let state of states" value="{{state}} State">{{state}}</option>
            </select>
            <label for="state_selectEl" class="selLabel">State</label>
      </div>
    </div>
    <div class="input-field col s6">
      <input id="email" class="validate" type="text" formControlName="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
      <label for="email" data-error="Invalid email!">Email</label>
    </div>
    <div class="input-field col s6">
        <input id="website" class="validate" type="text" formControlName="website">
        <label for="website" data-error="Invalid email!">Website</label>
      </div>
    <div class="input-field col s4">
      <input id="work" class="validate" type="number" formControlName="work">
      <label for="work">Phone</label>
    </div>
    <div class="input-field col s2">
      <input id="ext" class="validate" type="number" formControlName="ext">
      <label for="ext">ext</label>
    </div>
    <div class="input-field col s4">
        <input id="fax" class="validate" type="number" formControlName="fax">
        <label for="fax">Fax</label>
      </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <button pButton class="ui-button-success submitBtn" type="submit" title="Register" label="Register" [disabled]="!compForm.valid"></button>
      <button pButton class="ui-button-danger submitBtn" type="button" title="Cancel" label="Cancel" (click)="back()"></button>
    </div>
  </div>
</form>