<div class="pimg1">
  <div class="ptext position-absolute">
    <div style="color: #fff;">
      <h1 class="" style="font-size: 56px; line-height: 64.4px;">
        <span>Procurement made easy. Get multiple quotes.</span>
      </h1>
      <h5 style="font-size: 25.2px; line-height: 42.84px;">Join the
        <span style="border-bottom: 2px red solid;">Growing List</span>
        of companies enjoying the most seamless acquisition experience.
      </h5>
    </div>
  </div>
</div>

<section class="bg-light nav text-center pt-3">
  <div *ngFor="let hint of hints" class="col-md-4">
    <div class="hint-block">
      <h2 class="center brown-text">
        <i class="{{hint['iconClass']}}" aria-hidden="true"></i>
      </h2>
      <h5 class="center">{{hint['title']}}</h5>
      <p class="light">{{hint['desc']}}</p>
    </div>
  </div>
</section>

<div class="pimg2">
  <div class="ptext position-absolute">
    <div style="color: #fff;">
      <h5 class="header center" style="margin-top: 4em; font-style: italic;">
        Coming Soon... Question and Answer feature!
      </h5>
    </div>
  </div>
</div>