<div class="cust_container">
<p-table [value]="companies" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
        <tr>
            <th>Company </th>
            <th>Contract</th>
            <th>Designation</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-comp>
        <tr>
            <td><a title="View more details" (click)="getCompanyDetails(comp._id)">{{comp.name}}</a></td>
            <td>{{comp.contractId}}</td>
            <td>{{comp.designation}}</td>
        </tr>
    </ng-template>
</p-table>
</div>