<app-header></app-header>
<div class="pt-1 wrapper" style="margin-top: 3.7em;">
  <div style="overflow: auto; padding-bottom: 15em;">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>