<!-- <div class="row container-offset">
  <div class="col s6 offset-s3 cardContainer" style="box-shadow: 1px 1px 1px 1px darkgrey;">
    <div class="card">
      <div style="display: flex;">
        <div class="cAlign" style="display: flex; flex-direction:column; flex: 1; background-color: #ebedf1;">
          <div>Quotes App</div>
          <div style="margin-top: 25%">
            <i class="fa fa-lock" aria-hidden="true" style="font-size: 6em !important;"></i>
          </div>
          <div style="margin-top: 13%;">
            <div>Not Registered?</div>
            <div>
              <a title="Create an Account" routerLink="/signup">Sign up now!</a>
            </div>
          </div>
        </div>
        <div style="flex: 3;">
          <div class="sm-jumbotron center-align">
            <span *ngIf="!isModal" class="formTitle">Login</span>
            <span *ngIf="isModal" class="formTitle">{{modalTitle}}</span>
          </div>
          <form *ngIf="!isModal" class="col s12 white" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
            <div class="row">
              <div class="input-field col s6">
                <input id="user" type="text" formControlName="user" (keyup)="hideErrorMsg()">
                <label for="user">Username</label>
              </div>
              <div class="input-field col s6" [ngClass]="{'has-error':!loginForm.controls['pw'].valid && loginForm.controls['pw'].touched}">
                <input id="pw" type="password" formControlName="pw" (keyup)="hideErrorMsg()">
                <label for="pw">Password</label>
                <div *ngIf="loginForm.controls['pw'].hasError('required') && loginForm.controls['pw'].touched" class="errorValMsg">Password must be minimum 6 characters long</div>
              </div>
            </div>
            <div class="row" style="position: relative; top: 1em;">
              <div class="col s6 fUnPwDiv">
                <a href="javascript:void(0)" (click)="trigFu()">Forgot Username</a> &nbsp;|&nbsp;
                <a href="javascript:void(0)" (click)="trigFp()">Forgot Password</a>
              </div>
              <div class="input-field col s12">
                <button pButton class="ui-button-success submitBtn" type="submit" title="Log in to account" label="Login" [disabled]="!loginForm.valid"></button>
                <button pButton class="ui-button-danger submitBtn" type="button" title="Cancel" label="Cancel" (click)="back()"></button>
              </div>
              <div *ngIf="isErrorRet" class="col s12 errorTxt">{{errMsg}}</div>
            </div>
          </form>
          <div *ngIf="isModal" class="row">
            <div class="input-field col s12">
              <div class="col s12">{{formPrompt}}</div>
              <form *ngIf="isPwResetTrig" class="col s12 white" [formGroup]="pwResetForm" (ngSubmit)="requestPwReset(pwResetForm.value)">
                <div class="row">
                  <div class="input-field col s6">
                    <input id="pwResetUn" class="validate" type="text" formControlName="pwResetUn" (keyup)="hideErrorMsg()">
                    <label for="pwResetUn">Username</label>
                  </div>
                  <div class="input-field col s6">
                    <input id="pwReset" class="validate" type="text" formControlName="pwResetEmail" (keyup)="hideErrorMsg()">
                    <label for="pwReset">Email</label>
                  </div>
                  <div class="col s12">
                    <button pButton class="ui-button-success submitBtn" type="submit" title="Request Password Reset Link" label="Reset Password"
                      [disabled]="!pwResetForm.valid"></button>
                    <button pButton class="ui-button-danger submitBtn" type="button" title="Cancel Password Request" label="Cancel" (click)="cancel()"></button>
                  </div>
                </div>
              </form>
              <form *ngIf="!isPwResetTrig" class="col s12 white" [formGroup]="unRecovForm" (ngSubmit)="requestUn(unRecovForm.value)">
                <div class="row">
                  <div class="input-field col s6">
                    <input id="lName" class="validate" type="text" formControlName="lName" required (keyup)="hideErrorMsg()">
                    <label for="lName">Last Name</label>
                  </div>
                  <div class="input-field col s6">
                    <input id="email" class="validate" type="text" formControlName="email" required (keyup)="hideErrorMsg()">
                    <label for="email">Email</label>
                  </div>
                  <div class="col s12">
                    <button pButton class="ui-button-success submitBtn" type="submit" title="Submit Form" label="Submit" [disabled]="!unRecovForm.valid"></button>
                    <button pButton class="ui-button-danger submitBtn" type="button" title="Cancel" label="Cancel" (click)="cancel()"></button>
                  </div>
                </div>
              </form>
              <div *ngIf="isErrorRet" class="col s12 errorTxt" style="margin-top: -1em;">{{errMsg}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="text-center col-md-4 ml-3" style="flex: 1; background-color: #ebedf1;">
    <div>Quotes App</div>
    <div class="mt-3">
      <i class="fa fa-lock" aria-hidden="true" style="font-size: 6em !important;"></i>
    </div>
    <div class="mt-4">
      <div>Not Registered?</div>
      <div style="font-size: 0.9em;">
        <a title="Create an Account" href="javascript:void(0)" data-toggle="modal" data-target="#signupModal" (click)="hideModal()">Sign up now!</a>
      </div>
    </div>
  </div>
  <form *ngIf="isLoginView" class="col-md-8" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    <div class="form-group">
      <label for="user" class="sr-only">User ID</label>
      <input class="form-control " id="user" type="text" formControlName="user" placeholder="User ID" (keyup)="hideMsg()">
    </div>
    <div class="form-group">
      <input class="form-control" id="pw" type="password" formControlName="pw" placeholder="Password" (keyup)="hideMsg()">
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="checkbox" id="autoSizingCheck">
      <label class="form-check-label" for="autoSizingCheck">
        Remember me
      </label>
    </div>
    <div>
      <button type="button" class="btn btn-success" type="submit" title="Log in to account" [disabled]="!loginForm.valid">Login</button>
      <button type="button" class="btn btn-danger" type="button" title="Cancel" label="Cancel" data-dismiss="modal" (click)="back()">Cancel</button>
    </div>
    <div class="mt-2" style="font-size: 0.9em;">
      <a href="javascript:void(0)" (click)="trigFu()" title="Forgot User ID">Forgot User ID</a> &nbsp;|&nbsp;
      <a href="javascript:void(0)" (click)="trigFp()" title="Forgot Password">Forgot Password</a>
    </div>
  </form>
  <div *ngIf="!isLoginView" class="col-md-8">
    <div class="mb-1" style="font-size: 0.9em;">{{formPrompt}}</div>
    <form *ngIf="isPwResetTrig" [formGroup]="pwResetForm" (ngSubmit)="requestPwReset(pwResetForm.value)">
      <div class="form-group">
        <input class="form-control " id="pwResetUn" type="text" formControlName="pwResetUn" placeholder="User ID" (keyup)="hideMsg()">
      </div>
      <div class="form-group">
        <input class="form-control " id="pwReset" type="text" formControlName="pwResetEmail" placeholder="E-Mail" (keyup)="hideMsg()">
      </div>
      <div class="mt-4">
        <button type="button" class="btn btn-success" type="submit" title="Request Password Reset Link" [disabled]="!pwResetForm.valid">Send Password Reset Link</button>
        <button type="button" class="btn btn-danger" type="button" title="Back to login" label="Cancel" (click)="back()">Back</button>
      </div>
    </form>
    <form *ngIf="!isPwResetTrig" [formGroup]="unRecovForm" (ngSubmit)="requestUn(unRecovForm.value)">
      <div class="form-group">
        <input class="form-control " id="lName" type="text" formControlName="lName" placeholder="Last Name" (keyup)="hideMsg()">
      </div>
      <div class="form-group">
        <input class="form-control " id="email" type="text" formControlName="email" placeholder="E-Mail" (keyup)="hideMsg()">
      </div>
      <div class="mt-4">
        <button type="button" class="btn btn-success" type="submit" title="Submit User ID recovery Form" [disabled]="!unRecovForm.valid">Submit</button>
        <button type="button" class="btn btn-danger" type="button" title="Back to login" label="Cancel" (click)="back()">Back</button>
      </div>
    </form>
  </div>
  <div class="col mt-2 text-center" id="msgDiv" style="font-size: 0.9em;">{{retMsg}}</div>