<div class="row">
  <div *ngIf="dataRet" class="col s12">
    <div class="col s12">
      <img class="col s11 compLogo" src="{{comp['0'].imgUrl}}" alt="Company logo" />
      <i class="material-icons dnwldPrnt right" (click)="printPage()" title="Download/Print">print</i>
    </div>
    <div class="col s12" style="margin-top: 1em;">
        <p-table [value]="comp">
            <ng-template pTemplate="body" let-comp>
                <tr>
                    <td><strong>Name</strong></td>
                    <td>{{comp.compName}}</td>
                </tr>
                <tr>
                    <td><strong>Contract Number</strong></td>
                    <td>{{comp.contractId}}</td>
                </tr>
                <tr>
                    <td><strong>Designation</strong></td>
                    <td>{{comp.designation}}</td>
                </tr>
                <tr>
                    <td><strong>Address</strong></td>
                    <td>{{comp.compAddr}}</td>
                </tr>
                <tr>
                    <td><strong>Contacts</strong></td>
                    <td>
                      <div *ngFor="let contact of comp.contacts" class="compContacts">
                          <strong class="col s12" style="font-style: italic">{{contact['fName']}} {{contact['lName']}}</strong>
                          <span class="col s12">{{contact['position']}}</span>
                          <div class="col s12" style="margin-bottom: 1em;">
                              <span *ngFor="let phone of contact.phones" class="col s12">{{formatPhoneNo(phone)}}</span>
                              <span *ngIf="contact['fax']" class="col s12">Fax: {{contact['fax']}}</span>
                              <span><a href="mailto:{{contact['email']}}" data-rel="external" title="Send Email" style="text-decoration: underline;">{{contact['email']}}</a></span>
                          </div>
                      </div>
                    </td>
                </tr>
                <tr>
                    <td><strong>Link</strong></td>
                    <td><a href="{{comp.link}}" title="Visit company website" target="_blank" style="text-decoration: underline;">{{comp.link}}</a></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
  </div>
</div>