<div *ngIf="!isDataRet" class="progress row">
  <div class="indeterminate col s8 offset-s2" style="width: 70%"></div>
</div>
<div *ngIf="isDataRet" class="bottom-offset row">
  <div class="col s8 offset-s2">
    <button *ngIf="rfqObj['status'] == '1'" class="editRfqBtn" pButton type="button" label="Modify RFQ" (click)="editRfq()"></button>
    <div class="cAlign bottom-offset" style="padding-top: 1em;">
      <h5>{{pgTitle}}</h5>
      <span>Below is a detailed information about your Request for Quotes.</span>
    </div>
    <div class="col s12">
      <div>
        <strong>Status: </strong>
        <span *ngIf="rfqObj['status'] == '1'" style="color: green;">OPEN
          <span style="font-style: italic;">(*Bidding window still open to contractors)</span>
        </span>
        <span *ngIf="rfqObj['status'] == '2'" style="color: red">CLOSED
          <span style="font-style: italic;">(* Bidding window closed to contractors)</span>
        </span>
      </div>
      <div class="s12">
        <strong>RFQ closing Date: </strong>
        <span>{{rfqObj['bidEndDate'] | date: 'fullDate'}}</span>
      </div>
      <div>
        <strong>Type of request made: </strong>
        <span>{{rfqObj['rfqType']}}</span>
      </div>
      <div>
        <strong>Category: </strong>
        <span>{{rfqObj['cat']}}</span>
      </div>
      <div>
        <strong>Sub-Category: </strong>
        <span>{{rfqObj['subCat']}}</span>
      </div>
      <div>
        <strong>Other: </strong>
        <span>{{rfqObj['other']}}</span>
      </div>
      <div>
        <strong>More Details: </strong>
        <span>{{rfqObj['desc']}}</span>
      </div>
      <div *ngIf="rfqObj['attachmentList'].length > 0">
        <strong>Attachment(s): </strong>
        <ul class="attachmntsList">
          <li *ngFor="let item of rfqObj['attachmentList']">
            <a class="underline" (click)="downloadFile(item.uploadName)">{{item.originalname}}</a>
          </li>
        </ul>
      </div>
      <div>

        <p-table [value]="pri_contact">
          <ng-template pTemplate="body" let-cont>
            <tr>
              <td>
                <strong>Primary Contact (Rfq Originator): </strong>
              </td>
              <td>
                <div>
                  <span class="col s12 bold" style="font-style: italic; margin-top: 1em;">{{cont.fName}} {{cont.mName}} {{cont.lName}}</span>
                  <div class="col s12">
                    <div>{{cont.addr.addr1}}</div>
                    <div>{{cont.addr.addr2}}</div>
                    <div>{{cont.addr.state}}</div>
                    <div>{{cont.addr.country}}</div>
                  </div>
                  <div class="col s12" style="margin-top: 1em;">
                    <div>
                      <span class="bold">Office: </span>{{cont.work}}
                      <span class="bold"> Ext:</span> {{cont.ext}}</div>
                    <div>
                      <span class="bold">Mobile:</span> {{cont.mobile}}</div>
                    <div>
                      <a href="mailto:{{cont.email}}" title="Send Email" style="text-decoration: underline;">{{cont.email}}</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div style="margin-top: 1em;">
        <p-table [value]="altContacts">
          <ng-template pTemplate="body" let-cont>
            <tr>
              <td>
                <strong>Alternate Contact(s): </strong>
              </td>
              <td>
                <div>
                  <strong class="col s12 bold" style="font-style: italic; margin-top: 1em;">{{cont['fName']}} {{cont['mName']}} {{cont['lName']}}</strong>
                  <div class="col s12">
                    <div>{{cont.addr.addr1}}</div>
                    <div>{{cont.addr.addr2}}</div>
                    <div>{{cont.addr.state}}</div>
                    <div>{{cont.addr.country}}</div>
                  </div>
                  <div class="col s12" style="margin-top: 1em;">
                    <div>
                      <span class="bold">Office: </span>{{cont.work}}
                      <span class="bold"> Ext:</span> {{cont.ext}}</div>
                    <div>
                      <span class="bold">Mobile:</span> {{cont.mobile}}</div>
                    <div>
                      <a href="mailto:{{cont.email}}" title="Send Email" style="text-decoration: underline;">{{cont.email}}</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td>
                There are no alternate contacts on this RFQ
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>