<div class="row">
    <div class="col s8 offset-s2 cardContainer">
      <div class="card">
        <div class="sm-jumbotron center-align">
          <span class="formTitle">Password Reset</span>
        </div>
        <form class="col s12 white" [formGroup]="pwResetForm" (ngSubmit)="resetPw(pwResetForm.value)" nova>
          <div class="row">
            <div class="input-field col s6">
              <input type="password" formControlName="pw">
              <label for="pw">New Password</label>
              <div *ngIf="pwResetForm.controls['pw'].hasError('required') && pwResetForm.controls['pw'].touched" class="errorValMsg">
                Password must be minimum 6 characters long
              </div>
            </div>
            <div class="input-field col s6">
              <input type="password" formControlName="confirmPassword">
              <label for="confirmPassword">Confirm New Password</label>
            </div>
          </div>
          <div class="row">
              <div class="input-field col s6">
                <input class="btn-large btn-submit" type="submit" title="Reset Password" value="Reset Password" [disabled]="!pwResetForm.valid" />
              </div>
              </div>
        </form>
      </div>
    </div>
  </div>
  