<div class="row">
  <div class="col s8 offset-s2 cardContainer">
    <div class="card large">
      <div class="sm-jumbotron center-align">
        <span class="formTitle">My Profile</span>
      </div>
      <div class="card-content">
          <span class="card-title activator col s1">
              <i class="tiny material-icons right" title="Edit Profile">border_color</i>
            </span>
        <div class="card-image waves-effect waves-block waves-light col s12">
          <div class="bottom-offset">
            <h5 style="font: 3em cursive;">{{fName}} {{mName}} {{lName}}</h5>
          </div>
          <div class="bottom-offset">
            <i *ngIf="!isCustVerified" class="fa fa-exclamation-circle unverified" title="Not yet verified by company"></i>
            <span style="font-size: 1.5em;">{{company}}</span>
          </div>
          <div class="bottom-offset">
            <span>Office Address: </span>
            <span>{{addr1}}, {{addr2}}, {{state}}, {{country}}</span>
          </div>
          <div class="bottom-offset">
            <span>Email: </span>
            <span>{{email}}</span>
          </div>
          <div class="bottom-offset">
            <span>Work: </span>
            <span>{{work}}</span>
          </div>
          <div class="bottom-offset">
            <span>Mobile: </span>
            <span>{{mobile}}</span>
          </div>
        </div>
      </div>
      <!-- Edit Profile -->
      <div class="card-reveal">
        <div class="sm-jumbotron center-align">
          <span class="formTitle">Edit Profile</span>
          <span class="card-title">
            <i class="material-icons right" id="profileEditCloseIcon">close</i>
          </span>
        </div>
        <form class="col s12 white" [formGroup]="profileForm" (ngSubmit)="updateProfile(profileForm.value)">
          <div class="row">
            <!-- <div class="input-field col s4">
              <input class="validate" type="text" formControlName="fName" value="{{fName}}" [(ngModel)]="fName" required>
              <label data-error="Required field!">First Name</label>
            </div>
            <div class="input-field col s4">
              <input class="validate" type="text" formControlName="mName" value="{{mName}}" [(ngModel)]="mName">
              <label data-error="Required field!">Middle Name</label>
            </div>
            <div class="input-field col s4">
              <input class="validate" type="text" formControlName="lName" required value="{{lName}}" [(ngModel)]="lName">
              <label data-error="Required field!">Last Name</label>
            </div> -->
           <div class="col s12 bottom-offset" style="margin-top: 0.5em;">
             Note: To change your name, userID, or email, please contact: <a href="mailto:help@quotes.com">help@quotes.com</a>
           </div>
            <!-- <div class="input-field col s6">
              <input class="validate" type="text" formControlName="addr" required value="{{addr}}" [(ngModel)]="addr">
              <label data-error="Required field!">Office Address</label>
            </div> -->
            <!-- <div class="input-field col s6">
              <input class="validate" id="email" type="email" formControlName="email" required value="{{email}}" [(ngModel)]="email">
              <label for="email" data-error="Required field">Email</label>
              <span class="helper-text" data-error="Invalid Email format" data-success="right"></span>
            </div> -->
            <div class="input-field  col s12">
                <input id="addr1" class="validate" type="text" formControlName="addr1" [(ngModel)]="addr1">
                <label for="addr1">Office Address(1)</label>
              </div>
              <div class="input-field  col s12">
                <input id="addr2" class="validate" type="text" formControlName="addr2" [(ngModel)]="addr2">
                <label for="addr2">Address(2)</label>
              </div>
              <div class="input-field  col s6">
                <input id="state" class="validate" type="text" formControlName="state" [(ngModel)]="state">
                <label for="state">State</label>
              </div>
              <div class="input-field  col s6">
                <input id="country" class="validate" type="text" formControlName="country" [(ngModel)]="country">
                <label for="country">Country</label>
              </div>
            <div class="input-field col s6">
              <input id="work" class="validate" type="number" formControlName="work" required value="{{work}}" [(ngModel)]="work">
              <label for="work" data-error="Required field!">Work</label>
            </div>
            <div class="input-field col s6">
              <input id="mobile" class="validate" type="number" formControlName="mobile" value="{{mobile}}" [(ngModel)]="mobile">
              <label for="mobile" data-error="Required field!">Mobile</label>
            </div>
            <div class="input-field col s4">
              <input id="currentPw" class="validate" type="password" formControlName="currentPw">
              <label for="currentPw" data-error="Required field!">Current Password</label>
            </div>
            <div class="input-field col s4">
              <input id="newPw1" class="validate" type="password" formControlName="newPw1">
              <label for="newPw1">New Password</label>
            </div>
            <div class="input-field col s4">
              <input id="newPw2" class="validate" type="password" formControlName="newPw2">
              <label for="newPw2">Re-Enter New Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <button class="btn-submit" type="submit" pButton label="Update Profile" title="Update Profile"  [disabled]="!profileForm.valid"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>