.card-image, .card-title {
    position: relative;
}
.card-image {
    bottom: 2em !important;
    text-align: center;
}
.card-title {
    bottom: 1em !important;
}
.card-reveal {
    padding: 0 !important;
}
.card-content {
    overflow: auto !important;
}
.card.large {
    height: 590px !important;
}
.activator {
    float: right !important;
}