<div class="col">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="actType" id="opt1" value="1" (change)="setActType($event)">
    <label class="form-check-label" for="opt1">
      I am a government employee
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="actType" id="opt2" value="2" (change)="setActType($event)">
    <label class="form-check-label" for="opt2">
      I work for a non-government organization
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="actType" id="opt3" value="3" (change)="setActType($event)">
    <label class="form-check-label" for="opt3">
      I'm an individual user
    </label>
  </div>
  <div class="mt-4">
    <form *ngIf="custType === 1" [formGroup]="gvt_signUpForm" (ngSubmit)="signUp(gvt_signUpForm.value)">
      <div class="row">
        <div class="input-group mb-3 col-md-5">
          <div class="input-group-prepend">
            <label class="input-group-text" for="country_sel">Select Your Country</label>
          </div>
          <select class="custom-select" id="country_sel" formControlName="country" (change)="selectCountry($event)">
            <option selected></option>
            <option *ngFor="let country of countries" value="{{country}}">{{country}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="fName">First Name</label>
          <input id="fName" type="text" class="form-control" formControlName="fName">
        </div>
        <div class="form-group col">
          <label for="mName">Middle Name</label>
          <input id="mName" type="text" class="form-control" formControlName="mName">
        </div>
        <div class="form-group col">
          <label for="lName">Last Name</label>
          <input id="lName" type="text" class="form-control" formControlName="lName">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input id="email" class="validate form-control" type="text" formControlName="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
        </div>
        <div class="form-group col-md-4">
          <label for="work">Phone</label>
          <input id="work" class="validate form-control" type="number" formControlName="work">
        </div>
        <div class="form-group col-md-2">
          <label for="ext">ext</label>
          <input id="ext" class="validate form-control" type="number" formControlName="ext">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-9">
          <label for="addr1">Office Address(1)</label>
          <input id="addr1" class="validate form-control" type="text" formControlName="addr1">
        </div>
      </div>
      <div class="row">
        <div class=" form-group col-md-9">
          <label for="addr2">Address(2)</label>
          <input id="addr2" class="validate form-control" type="text" formControlName="addr2">
        </div>
      </div>
      <div class="row">
        <div class="input-group mb-3 col-md-4">
          <div class="input-group-prepend">
            <label class="input-group-text" for="state_sel">State</label>
          </div>
          <select class="custom-select" id="state_sel" formControlName="state" (change)="getMinistries($event)">
            <option selected></option>
            <option *ngFor="let state of states" value="{{state}} State">{{state}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="input-group mb-3 col-md-6">
          <div class="input-group-prepend">
            <label class="input-group-text" for="min_sel">Ministry</label>
          </div>
          <select class="custom-select" id="min_sel" formControlName="min" (change)="selectMinistry($event)">
            <option selected></option>
            <option *ngFor="let ministry of ministries" value="{{ministry.min}}">{{ministry.min}}</option>
          </select>
        </div>
        <div class="input-group mb-3 col-md-5">
          <div class="input-group-prepend">
            <label class="input-group-text" for="dept_sel">Department / Unit</label>
          </div>
          <select class="custom-select" id="dept_sel" formControlName="dept">
            <option selected></option>
            <option *ngFor="let dept of departments" value="{{dept}}">{{dept}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="user">Username</label>
          <input id="user" class="validate form-control" type="text" formControlName="user" required>
        </div>
        <div class="form-group col">
          <label for="pw1">Password</label>
          <input id="pw1" class="validate form-control" type="password" formControlName="pw" required minlength="3">
        </div>
        <div class="form-group col">
          <label for="pw2">Re-Enter Password</label>
          <input id="pw2" class="validate form-control" type="password" formControlName="pw" required minlength="3">
        </div>
      </div>
      <div class="d-flex flex-row-reverse">
        <button type="button" class="btn btn-success" type="submit" title="Create Account" [disabled]="!gvt_signUpForm.valid">Create Account</button>
        <button type="button" class="btn btn-danger mr-2" type="button" title="Cancel" label="Cancel" data-dismiss="modal" (click)="cancelSignUp()">Cancel</button>
      </div>
      <div *ngIf="isErrorRet" class="text-danger mt-2" style="font-size: 0.9em;">{{errMsg}}</div>
    </form>


    <form *ngIf="custType === 2" [formGroup]="signUpForm" (ngSubmit)="signUp(signUpForm.value)">
      <div class="row">
        <div class="input-group mb-3 col-md-5">
          <div class="input-group-prepend">
            <label class="input-group-text" for="country_sel">Select Your Country</label>
          </div>
          <select class="custom-select" id="country_sel" formControlName="country" (change)="selectCountry($event)">
            <option selected></option>
            <option *ngFor="let country of countries" value="{{country}}">{{country}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="fName">First Name</label>
          <input id="fName" type="text" class="form-control" formControlName="fName">
        </div>
        <div class="form-group col">
          <label for="mName">Middle Name</label>
          <input id="mName" type="text" class="form-control" formControlName="mName">
        </div>
        <div class="form-group col">
          <label for="lName">Last Name</label>
          <input id="lName" type="text" class="form-control" formControlName="lName">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input id="email" class="validate form-control" type="text" formControlName="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
        </div>
        <div class="form-group col-md-4">
          <label for="work">Phone</label>
          <input id="work" class="validate form-control" type="number" formControlName="work">
        </div>
        <div class="form-group col-md-2">
          <label for="ext">ext</label>
          <input id="ext" class="validate form-control" type="number" formControlName="ext">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-9">
          <label for="addr1">Office Address(1)</label>
          <input id="addr1" class="validate form-control" type="text" formControlName="addr1">
        </div>
      </div>
      <div class="row">
        <div class=" form-group col-md-9">
          <label for="addr2">Address(2)</label>
          <input id="addr2" class="validate form-control" type="text" formControlName="addr2">
        </div>
      </div>
      <div class="row">
        <div class="input-group mb-3 col-md-4">
          <div class="input-group-prepend">
            <label class="input-group-text" for="state_sel">State</label>
          </div>
          <select class="custom-select" id="state_sel" formControlName="state" (change)="getVerifiedCustCompanies()">
            <option selected></option>
            <option *ngFor="let state of states" value="{{state}} State">{{state}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="input-group mb-3 col-md-6">
          <div class="input-group-prepend">
            <label class="input-group-text" for="comp_sel">Company</label>
          </div>
          <select class="custom-select" id="comp_sel" formControlName="compName">
            <option selected></option>
            <option *ngFor="let comp of compsArray" value="{{comp['compName']}}">{{comp['compName']}}</option>
          </select>
        </div>
        <div class="input-group mb-3 col-md-5">
            <div class="input-group-prepend">
              <label class="input-group-text" for="dept_sel">Department / Unit</label>
            </div>
            <select class="custom-select" id="dept_sel" formControlName="dept">
              <option selected></option>
              <option *ngFor="let dept of departments" value="{{dept}}">{{dept}}</option>
            </select>
          </div>
        <!-- <div class="col-md-1 mt-2">OR</div>
        <div class=" form-group col-md-5">
          <input id="comp" class="validate form-control" type="text" formControlName="compName" (keyup)="toggleSelectElState($event)"
            placeholder="Enter Company Name">
        </div> -->
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="user">Username</label>
          <input id="user" class="validate form-control" type="text" formControlName="user" required>
        </div>
        <div class="form-group col">
          <label for="pw1">Password</label>
          <input id="pw1" class="validate form-control" type="password" formControlName="pw" required minlength="3">
        </div>
        <div class="form-group col">
          <label for="pw2">Re-Enter Password</label>
          <input id="pw2" class="validate form-control" type="password" formControlName="pw" required minlength="3">
        </div>
      </div>
      <div class="d-flex flex-row-reverse">
        <button type="button" class="btn btn-success" type="submit" title="Create Account" [disabled]="!signUpForm.valid">Create Account</button>
        <button type="button" class="btn btn-danger mr-2" type="button" title="Cancel" label="Cancel" data-dismiss="modal" (click)="cancelSignUp()">Cancel</button>
      </div>
      <div *ngIf="isErrorRet" class="text-danger mt-2" style="font-size: 0.9em;">{{errMsg}}</div>
    </form>
  </div>
</div>