$generalFontSize: 0.9em;
$cursor: pointer;
$heights: ( fh: 100%, headerHeight: 4.3em );
$fntSzes: (
  pageTitle: 2em
);
$colors: ( primary: #11172b);
body {
  font-size: $generalFontSize !important;
}

html,
body {
  height: map-get($heights, fh);
  margin: 0;
}

.pointer {
  cursor: $cursor;
}

.fullHeight {
  height: map-get($heights, fh)
}

.wrapper {
  min-height: map-get($heights, fh);
  position: relative;
}

.footer {
  height: 15em;
  background-color: map-get($colors, primary);
  margin-top: -15em;
  position: relative;
  clear: both;
}

.dropdown-menu {
  min-width: 0 !important;
}

.pgTitle {
  font-size: map-get($fntSzes, pageTitle )
}

.underline {
  text-decoration: underline;
}