body {
  font-size: 0.9em !important;
}

html,
body {
  height: 100%;
  margin: 0;
}

.pointer {
  cursor: pointer;
}

.fullHeight {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.footer {
  height: 15em;
  background-color: #11172b;
  margin-top: -15em;
  position: relative;
  clear: both;
}

.dropdown-menu {
  min-width: 0 !important;
}

.pgTitle {
  font-size: 2em;
}

.underline {
  text-decoration: underline;
}
/*# sourceMappingURL=styles.css.map */